{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
        
    <div id="inner_remaining" class="row no-gutters">

        <!-- Begin Sidebar -->
        <nav class="col-md-2 bg-light">
            <div class="list-group">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Categories</span>
                </h6>
                    {% for c in categories %}
                        {% if c.id == category.id %}
                                <a class="list-group-item list-group-item-action active" href={{ url_for('showCategory', category_id=c.id)}}>{{c.name}}</a>
                        {% else %}
                                <a class="list-group-item list-group-item-action bg-light" href={{ url_for('showCategory', category_id=c.id)}}>{{c.name}}</a>
                        {% endif %}
                    {% endfor %}
            </div>
        </nav>
        <!-- End Sidebar -->

        <!-- Begin Main Content -->
        <main role="main" class="col-md-10">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Edit {{ category.name }}</h1>
                </div>
            </div>

            <div class = 'pane'>

                <form action="{{ url_for('editCategory', category_id = category_id)}}" method = 'POST'>
                    <div class="form-group">
                        <dl>
                                <dt><label for="name">Name</label></dt>
                                    <dd><input type='text' size='30' name='name' placeholder = '{{category.name}}'></dd>
                        </dl>
                        <input type='submit' value='Edit' class='btn btn-primary'>
                        <a href='{{url_for('showCategory', category_id=category_id)}}' class="btn btn-danger">Cancel</a>
                    </div>

                </form>
            </div>
        </main>
        <!-- End Main Content -->
    </div>

{% endblock %}